extends ../base

block content
	h1 See all Users
	a(href="/users/new") Add a new user
	ul
		each user in users
			li
				a(href=`/users/${user.id}`) #{user.name} &nbsp;
				a(href=`/users/${user.id}/edit`) Edit &nbsp;
				a(href=`/users/${user.id}/items`) See shopping list