.idea/
.DS_Store

FullStackApps/team-tree-house/npm-basics/node_modules/

FullStackApps/team-tree-house/express-basics/node_modules/

FullStackApps/code-school/node-demo/node_modules/

FullStackApps/team-tree-house/mongo-basics/node_modules/

FullStackApps/team-tree-house/express-rest-api/node_modules/

FullStackApps/udemy/understand-nodejs/06-express/node_modules

FullStackApps/udemy/complete-node/01-note-app/node_modules