// ======================================
//  Image Styles
// ======================================

.img-featured {
	// pass in width,height and border properties
	// by naming the arguments you pass to a mixin, 'keyword arguments'
	// you can pass in the arguments in any order, different to that defined in the mixin
	// you need to use the variable name used when defining the mixin
	@include roundy($border-properties: 4px solid $white, $dimension: 165px);
	margin-top: 75px;
	position: relative;
	z-index: 100;

	@media (max-width: $break-xs) {
		display: none;
	}

}

