<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About Page</title>
</head>
<body>
	{{> header}}
	<!-- calling helper function passing in message as the argument -->
	<p>{{screamIt message}}</p>
	{{> footer}}
</body>
</html>