extend base.pug

block content
	h1 Sign Up
	form(action='/users/signup', method="POST")
		input(type="text" name="username" placeholder="username")
		input(type="password" name="password" placeholder="password")
		input(type="submit" value = "Log in!")
	a(href='/users/login') already have an account?