extends ../base

block content
	h1 #{user.name}

	h2 Search the shopping list
	form(action=`/users/${user.id}/items/${name}/search` method="POST")
		input(type="text", name="name")
		input(type="submit", value="Submit!")