// ======================================
//  Card Styles
// ======================================

.card {
	@include flexy($direction: column);
	padding: 1.5em 1em;
	border: 1px solid $color-shade;
	border-radius: 0.25em;
	margin: $gutter;

	h1 {
		color: $color-primary;
		margin: 0.35em 0 0;
		line-height: 1.25;
	}

	@include mquery('xs') {
		flex: 1 per-line(1);
	}

	@include mquery('s'){
		flex-basis: per-line(2);  // 2 equal sized columns
	}

	@include mquery('m'){
		flex-basis: per-line(2);
	}

	@include mquery('l') {
		flex-basis: per-line(3); // 3 equal sized columns
	}
}




